@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

/* ========================== General Design ========================== */

body {
    background-color: #d5e1ef;
}

img {
    margin: auto 0;
}

/* ========================== Font configuration ========================== */

 html {
    font-size: .5rem;
    font-family: 'Outfit';
} 

.text {
    text-align: center;
    font-size: 1.9rem;
    margin: auto 1em;
    line-height: 1.5;
}

.text h3 {
    font-size: 2.5rem;
    color: hsl(218, 44%, 22%)
}

.text p {
    color: hsl(220, 15%, 55%);
}

/* ========================== Layout ========================== */

main {
    display: flex;
    flex-direction: column;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.qr-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    max-width: 300px;
    margin: 6.5em 0;
    border-radius: 20px;
    box-shadow: 0 9px 6px 5px rgba(211, 211, 211, 0.15);
}
.qr-code-container {
    width: 100%;
    padding: 1em 1.9em;
    padding-bottom: 0;
    margin-top: .75em;
    
} 


.qr-code {
    /* height: 90%; */
    width: 90%;
    border-radius: 15px;
}

 

